{% extends "layout.html" %}
{% block body %}
<section id="services" class="services">
      <div class="container">

        <div class="row">
          <div class="col-md-6">
            <div class="icon-box">
          
              <h4><a href="#"><b>1. Ads</b></a></h4>
              <p>This is one of the most common types of spam. I bet you’ve already received several unsolicited emails offering products and services, such as weight loss pills and tennis offers. In many cases it may be a scam but the offer may also be real.</p>
            </div>
          </div>
          <div class="col-md-6 mt-4 mt-md-0">
            <div class="icon-box">
              
              <h4><a href="#"><b>2. Chain Letters</b></a></h4>
              <p>Something bad will happen to you”. Usually, chain letters tell exciting and thrilling stories and persuade you to pass the message along under penalty of having something very bad happen to you. Be careful or you’re going to have a run of bad luck. Buuuuuu!</p>
            </div>
          </div>
          <div class="col-md-6 mt-4 mt-md-0">
            <div class="icon-box">
              
              <h4><a href="#">3. Email Spoofing </a></h4>
              <p>Spoofing email spam is related to phishing scams. They happen when spammers or phishers try to fool you by impersonating someone you know or a company you have a relationship with. This is one of the most dangerous types of spam.</p>
            </div>
          </div>
          <div class="col-md-6 mt-4 mt-md-0">
            <div class="icon-box">
              
              <h4><a href="#">4. Hoaxes</a></h4>
              <p>In this type of spam, we include offers and miracle promises, such as, for example, “get rich in less than a month” or “gain the body of your dream by eating more and working out less”. In general, this tactic is used by spammers to hold your attention and direct you to a malicious website. </p>
            </div>
          </div>
          <div class="col-md-6 mt-4 mt-md-0">
            <div class="icon-box">
              
              <h4><a href="#"> 5. Money Scams</a></h4>
              <p>Here we’ve spam messages with easy money promises, such as the Nigerian prince scheme. In this case, you apparently only have to lend a small amount of money to receive a big reward in the future.Money spam also involves asking for money for hungry children in Africa or for families who have suffered losses as a result of a natural disaster.</p>
            </div>
          </div>
          <div class="col-md-6 mt-4 mt-md-0">
            <div class="icon-box">
              
              <h4><a href="#">How to identify spam and avoid spam</a></h4>
              <p>Gatefy Email Security is a solution that protects your company against different types of email threats, such as spam, phishing, ransomware, viruses, BEC (Business Email Compromise), and social engineering.Gatefy Anti-Fraud Protection is a DMARC-based solution that protects your company’s domain. It prevents criminals from using your name and brand in spam, phishing, and BEC scams, for example. In addition, the solution also improves the delivery capacity of your emails, as in cases of email marketing.</p>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End Services Section -->

    
  </main><!-- End #main -->

  {% endblock %}  