{% extends "layout.html" %}
{% block body %}
<style type="text/css">
  body{
@media (min-width: 1025px) {
  .h-custom {
    height: 100vh !important;
  }
}
</style>
<section class="h-100 h-custom" style="background-color: #8fc4b7;">
  <div class="container py-5 h-100">
    <div class="container">
  {% with messages = get_flashed_messages() %}  
         {% if messages %}  
               {% for message in messages %}  
               <div class="alert alert-danger" role="alert">
                <center>{{message}}</center>
               </div>
               {% endfor %}  
         {% endif %}  
      {% endwith %}  
       </div> 
            </div>
            <div class="panel-body">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-lg-8 col-xl-6">
        <div class="card rounded-3">
          <img src="{{url_for('static',filename='assets/img/contact.jpg')}}" class="w-100" style="border-top-left-radius: .3rem; border-top-right-radius: .3rem;" alt="Sample photo">
          <div class="card-body p-4 p-md-5">
          

              <form role="form" method="post" action="/contact" >
                <div class="row">
                  <div class="col-xs-6 col-sm-6 col-md-6">
                    <div class="form-group">
                      
                    </div>
                  </div>
                  <div class="col-xs-6 col-sm-6 col-md-6">
                    <div class="form-group">
                      
                    </div>
                  </div>
                </div>
                <div class="form-outline mb-4">
                <input type="text" id="name" name="name"  class="form-control" required/>
                <label class="form-label"  value="name" required="">name</label>
                <span id="name" class="text-danger font-weight-bold"> </span>
              </div>

                <div class="form-outline mb-4">
                  <input type="text" id="email" name="email"  class="form-control" required />
                  <label class="form-label"  value="email">email</label>
                </div>
                <span id="email" class="text-danger font-weight-bold"> </span>

                
                    <div class="form-outline mb-4">
                      <input type="text" id="subject" name="subject"  class="form-control" required />
                      <label class="form-label" value="subject">Subject</label>
                    </div>
                    
                  
                    <span id="subject" class="text-danger font-weight-bold"> </span>
                    <div class="form-group">

                      <div class="form-outline mb-4">
                     
                      <textarea id="message" name="message"  rows="4" cols="62" wrap="off"></textarea>
                      <label class="form-label" value="message">Message</label>
                    </div>
                    
                  
                    <span id="message" class="text-danger font-weight-bold"> </span>
                    <div class="form-group">
                      
                      
                    </div>
                  </div>
                </div>
                
                <button type="submit" onclick="myFunction()" value="contact" class="btn btn-success btn-lg mb-1">Submit</button>
                
                <script>
                  function myFunction() {
                    alert("Your message is sucessfully submitted");
                  }
                </script>
                        </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endblock %}  