{% extends "layout.html" %}
{% block body %}
<style type="text/css">
  body{
@media (min-width: 1025px) {
  .h-custom {
    height: 100vh !important;
  }
}
</style>
<section class="h-100 h-custom" style="background-color: #8fc4b7;">
  <div class="container py-5 h-100">
    <div class="container">
  <main>
                                {% with messages=get_flashed_messages(with_categories=true) %}
                                {% if messages %}
                                {% for category,message in messages %}
                                {% if category== 'success' %}
                                <div class="alert alert-success mb-3" role="alert">{{message}}</div>
                                {% endif %}
                                {% if category== 'error' %}
                                <div class="alert alert-danger mb-3" role="alert">{{message}}</div>
                                {% endif %}
                                {% endfor %}
                                {% endif %}
                                {% endwith %}
                            </main>
       </div> 
            </div>
            <div class="panel-body">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-lg-8 col-xl-6">
        <div class="card rounded-3">
          <img src="{{url_for('static',filename='assets/img/login.jpg')}}" class="w-100" style="border-top-left-radius: .3rem; border-top-right-radius: .3rem;" alt="Sample photo">
          <div class="card-body p-4 p-md-5">
            <h3 class="mb-4 pb-2 pb-md-0 mb-md-5 px-md-2">Registration</h3>

            <form class="px-md-2" role="form" method="post" action="/register"
            onsubmit="return validation()">

              <div class="form-outline mb-4">
                <input type="text" id="name" name="name" required="required" class="form-control" />
                <label class="form-label"  value="name">name</label>
                <span id="name" class="text-danger font-weight-bold"> </span>
              </div>
              <div class="form-outline mb-4">
                <input type="text" id="uname" name="uname" required="required" class="form-control" />
                <label class="form-label"  value="uname">Username</label>
                <span id="name" class="text-danger font-weight-bold"> </span>
              </div>
              <div class="form-outline mb-4">
                <input type="number" id="mobile" name="mobile" required="required" class="form-control" />
                <label class="form-label"  value="mobile">Mobile Number</label>
                <span id="name" class="text-danger font-weight-bold"> </span>
              </div>

              <div class="form-outline mb-4">
                <input type="email" id="email" name="email"  class="form-control" />
                <label class="form-label" value="email" >email</label>
              </div>
              <span id="email" class="text-danger font-weight-bold"> </span>
              <h5 id="error">
                        <!--<p class="text-danger">{{error}}</p>-->
                    </h5>

               <div class="form-outline mb-4">
                <input type="password" id="password" minlength="6" name="password" required="required" class="form-control" />
                <label class="form-label"  value="password" >password</label>
              </div>
              <span id="password" class="text-danger font-weight-bold"> </span>

              <div class="form-outline mb-4">
                <input type="password" id="cpassword"  required="required" name="cpassword" class="form-control" />
                <label class="form-label" value="cpassword">cpassword</label>
              </div>
              <span id="password2" class="text-danger font-weight-bold"> </span>
              
              <button type="submit"  value="register" class="btn btn-success btn-lg mb-1">Submit</button>
              <a href="/login" class="signup-image-link">I am already member</a>
            </section>
          </form>
         
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}



 